*{
  margin: 0;
  padding: 0;
}

body {
  /* background: rgba( 199, 199, 199, 0.2 );
  box-shadow: 0 10px 40px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( .5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
  }

  nav{
    text-align: end;
    width: 100vw;
    margin: 0;
    padding: 0;
    
}

.nav-links{
  margin: 2rem;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  background: rgba( 199, 199, 199, 0.2 );
  box-shadow: 0 10px 40px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10%;
}

.nav-links:hover{
  text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff,0 0 35px #228dff,0 0 40px #228dff;

  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



  .container {
    background: rgba( 199, 199, 199, 0.2 );
    box-shadow: 0 10px 40px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;

  }
  .form {
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 3rem 2rem;
  }
  
  .subtitle {
    color: #fff8f8e9;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #fff;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #fff;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }

/* CSS */
.submit {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.submit span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.submit:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.submit:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.submit:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.alert{
  color: #dc2f55;
  background: #fff;
  margin-top: 0.5rem;
}

a{
  text-decoration: inherit;
  color: inherit;
}

#result_image{
  max-height: 50%;
  max-width: 50%;
}