<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/about.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <title>About Us</title>
  </head>
  <body>
    <nav>
      <a href="">Home</a>
      <a href="">Source</a>
      <a href="">Docs</a>
    </nav>
    <div class="container">
      <table>
        <tr>
          <td>
            <div
              class="card"
              style="background-image: url('/static/images/amar.jpeg')"
            >
              <div class="glass-container">
                <p class="heading">Amarnath Banerjee</p>
                <p class="role">Project Lead</p>
                <p>
                  Aspiring Software Engineer, Experience with Full Stack Web
                  Development, Experience with C++, Python and Java. Student at
                  Haldia Institute of Technology.
                </p>
              </div>
            </div>
          </td>
          <td>
            <div
              class="card"
              style="background-image: url('/static/images/sambhav.jpeg')"
            >
              <div class="glass-container">
                <p class="heading">Sambhav Prabhat Singh</p>
                <p class="role">Data Analysis</p>
                <p>
                  Aspiring Software Engineer, Experience with Full Stack Web
                  Development, Experience with C++, Python and Java. Student at
                  Haldia Institute of Technology.
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div
              class="card"
              style="background-image: url('/static/images/yash.jpg')"
            >
              <div class="glass-container">
                <p class="heading">Yash Kumar</p>
                <p class="role">Frontend Development</p>
                <p>
                  Aspiring Software Engineer, Experience with Full Stack Web
                  Development, Experience with C++, Python and Java. Student at
                  Haldia Institute of Technology.
                </p>
              </div>
            </div>
          </td>
          <td>
            <div
              class="card"
              style="background-image: url('/static/images/chetan.jpg')"
            >
              <div class="glass-container">
                <p class="heading">Chetan Chauhan</p>
                <p class="role">ML Integration</p>
                <p>
                  Aspiring Software Engineer, Experience with Full Stack Web
                  Development, Experience with C++, Python and Java. Student at
                  Haldia Institute of Technology.
                </p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
